<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
    window.onload=function(){
      var box = document.getElementsByClassName('box');
      var i;
      for(i=0;i<box.length;i++){
      box[i].addEventListener("mouseover", function(){
        this.style.opacity=0.5;
        this.style.backgroundColor="#FF5511";
      });
      box[i].addEventListener("mouseout", function() {
          this.style.opacity=1;
          this.style.backgroundColor="#E2F8B5";
      });
    }
    };
    </script>
    <style type="text/css">
      body {
        background-image:url('6.jpg');
        background-repeat;
        font-family:Microsoft JhengHei;
      }
      #HEADER {
        background-color: #E2F8B5;
        font-size: 30px;
        text-align:center;
      }
      ul li {
      }
      #WRAPPER {
        margin:0 auto;
        width:95%;
        /* overflow:auto; */
      }
      #CONTENT{
        margin-left:25%;
        width:75%;
        height: auto;
        background-color:#E2F8B5;
        font-size: 18px;
      }
      #SIDE {
        float:left;
        width:20%;
        font-size: 30px;
        height: auto;
      }
      #FOOTER {
      }
      .box{
        width: 100%;
        height:auto;
        background-color:#E2F8B5;
        /* opacity: 0.5; */
        transition: opacity 1s, background-color 1s;
      }
      a {
        text-decoration:none;
      }
      li{
        padding-left: 2%;
      }

    </style>
  </head>
  <body>
    <div id= "HEADER">
      <h1>育</h1>
    </div>
    <div>
      <ul>
        <li><a href="#">環保常識</a></li>
      </ul>
    </div>
    <div id="WRAPPER">
      <div id="SIDE">
        <div style="background-color:#1BC005;padding: 5% 4%;font-size:36px;font-weight:bold;">生活環保</div>

        <div style="background-color: #E2F8B5;line-height: 150%;padding-top:5%;padding-bottom:5%;text-align:center;">

            <div class="box"><a href="#">氣候變遷</a></div>
            <div class="box"><a href="#">海洋危機</a></div>
            <div class="box"><a href="#">塑化危機</a></div>
            <div class="box"><a href="#">公害汙染</a></div>
        </div>
      </div>
      <div id="CONTENT">
        <h1 style="padding-top:2%;padding-bottom:0.5%;padding-left:4%;">海洋危機</h1>
        <div style="background-color:#CCEEFF;padding-left:1%;padding-right:1%;padding-bottom:4%;margin-left:4%;margin-right:4%;margin-bottom:5%">
          <h2 style="padding-top:3%;padding-left:4%;">【海洋版看見台灣 垃圾汙染毀生態】</h2>
          <h4 style="padding-top:1.5%;padding-left:5%">影片出處:YouTube 中華電視公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;類別:海洋危機</h4>
          <h4 style="padding-left:5%;padding-bottom:3%">文章出處:善耕365基金會【「廢棄漁網」海洋生態的殺手，「志工潛水」讓小琉球珊瑚礁重生】</h4>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VrjYc6---eI" frameborder="0" style="display:block;margin:auto;"></iframe>

          <div style="padding-top:6%;padding-left:5%;padding-right:4%;">
            <div style="padding-left:1%;padding-right:1%">
              海洋廢棄物，又被稱為海洋垃圾，主要是由人類所製造出來的廢棄物品，在有意或無心之間成為漂浮在湖面、河川或海上的大型漂流物，而漂流在海洋上的碎片往往會積累在該海域中心的環流或海岸線上，一部份會堆積在海灘，被稱為海灘垃圾，而有部份則沉入海底，成為海底垃圾。
              <img src="14.png" width="70%";height="auto" style="padding-top:6%;display:block;margin:auto;">
              <h4 style="color:	#FF3333;padding-left:1%;padding-top:2%">垃圾造成生態的破壞</h4>
              而這些廢棄物當中包括有人類製造的塑料垃圾，以及漁民丟置的漁網與繩索，這兩項是海洋生態最大的殺手，不僅讓海底珊瑚無法行光合作用，造成大片白化死亡，更讓許多海洋生物死於非命。
              <br><br>近年來塑料垃圾的問題越來越嚴重，因為許多類型的塑料無法分解，嚴重威脅魚類、海鳥、海洋爬行動物和海洋哺乳動物…等的生存環境。像其中的塑膠粒也被稱為美人魚的眼淚，直徑在五毫米左右，是一個海洋塑料廢棄物的主要組成部分，它們被用來作為原料塑料的製造，因為外觀看起來像是動物魚卵，所以常常讓動物們誤食。而其他的塑料垃圾也已經飄散在每一個海洋當中，根據初步的估計每年大約有10萬頭海龜和海洋哺乳類動物，以及100萬頭的海洋生物受害，像塑膠袋如果被海洋生物吞下，會造成生物的消化道阻塞，而導致他們以為胃已經滿了、飽了，最後因飢餓而死亡。
              <img src="15.png" width="70%";height="auto" style="padding-top:6%;display:block;margin:auto;">
              <h4 style="color:	#FF3333;padding-left:1%;padding-top:2%">  廢棄的漁網與繩索</h4>
              「幽靈漁網」是指漁民們所遺失或丟棄在海中的漁網，即使早就無人在使用，但卻仍持續進行「漁撈」的作業活動，因此得名。
              <br><br>這些持續漂流在海中的廢棄漁網和繩索，長期成為海洋生態的殺手，有時會發現魚、海豚、海龜、鯊魚、海鳥、螃蟹和其他海洋生物死在漁網中。這些廢棄漁網和繩索會纏住經過的生物，限制活動使其無法動彈，造成飢餓、裂傷和感染後，而導致生物死亡。另外，海洋哺乳類動物需要返回到水面上呼吸，漁網和繩索纏住則會導致他們因窒息而死亡。其他一些沉入海底的漁網和繩索，容易覆蓋在珊瑚礁上面，會共生藻離開或死亡，造成珊瑚的白化，最後珊瑚會因失去營養供應而死亡，進而影響那些依賴珊瑚礁為生或覓食的熱帶海洋魚類和生物。
              <img src="16.png" width="70%";height="auto" style="padding-top:6%;display:block;margin:auto;">
              <h4 style="color:	#FF3333;padding-left:1%;padding-top:2%">不只是海洋生物，人類也受到危害</h4>
              前年（2013年）就有一則新聞報導：「桃園平鎮高中一名鍾姓學生和吳姓友人一起戲水，卻意外在海中被廢棄漁網纏住，動彈不得，海巡人員獲報後，緊急出動橡皮艇協尋搶救，鍾姓高二生緊急送醫後，仍宣告不治，造成他喪命的主要原因是由於被漁網纏住後想極力掙脫，反而越陷越深。」所以廢棄漁網和繩索若沒妥善處理清除，不但是海洋生態的殺手，還意外成為了人類在海邊戲水的致命隱形殺手。
              <img src="16.png" width="70%";height="auto" style="padding-top:6%;display:block;margin:auto;">
            </div>
          </div>
        </div>
        <div style="background-color:#E8CCFF;padding-left:1%;padding-right:1%;padding-bottom:4%;margin-left:4%;margin-right:4%;margin-bottom:5%">
          <h2 style="padding-top:3%;padding-left:4%;">【5分鐘影片，道盡海洋危機】</h2>
          <h4 style="padding-top:1.5%;padding-left:5%">影片出處:YouTube GPEA Taiwan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;類別:海洋危機</h4>
          <h4 style="padding-left:5%;padding-bottom:3%">文章出處:GREENPEACE&nbsp;綠色和平【關於過度捕魚，12個讓您笑不出來的事實】</h4>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dpEJgrRaVUU" frameborder="0"style="display:block;margin:auto;"></iframe>
          <div style="padding-top:6%;padding-left:5%;padding-right:4%;">
            <div style="padding-left:1%;padding-right:1%">
              海洋廣闊無際，資源取之不盡？數個世紀前，科學家是這樣想的。但很遺憾，一連串非法捕魚、誤捕、濫捕、肆意破壞魚類棲息地，已經改變海洋的命運。看完以下 12 個事實，恐怕沒有人能笑得出來。
              <img src="18.png" width="70%";height="auto" style="padding-top:6%;padding-bottom:3%;display:block;margin:auto;">
              <ol>
                <li>由1950年開始，因為過度捕魚，全世界 1/4 漁業已經崩潰。</li>
                <img src="19.png" width="70%";height="auto" style="padding-top:6%;padding-bottom:5%;display:block;margin:auto;">
                <li>77% 海洋魚類資源已經完全枯竭、遭受過度開發、減少或復甦緩慢。</li>
                <img src="20.png" width="70%";height="auto" style="padding-top:4%;padding-bottom:5%;display:block;margin:auto;">
                <li>1992 年，加拿大紐芬蘭的鱈魚漁業崩潰，40,000 人因而失業。當地漁業至今仍尚未恢復。</li>
                <img src="21.png" width="70%";height="auto" style="padding-top:5%;padding-bottom:5%;display:block;margin:auto;">
                <li>科學家估計，全球 90% 的大型魚類已在海洋絕跡。其中包括許多吞拿魚、鯊魚、大比目魚、石斑和其他生態系統頂端的捕食者。失去牠們，我們也失去維持生態平衡的好幫手。</li>
                <img src="22.png" width="70%";height="auto" style="padding-top:5%;padding-bottom:5%;display:block;margin:auto;">
                <li>全世界共有 350 萬艘漁船，但當中僅佔1.7%的巨型工業漁船，每年竟捕獲全球近 60% 的魚獲。</li>
                <li>單單在印度洋，圍網漁船使用的人工集魚器，每年就殺死 100 萬條鯊魚。</li>
                <li>每年，全球船隊收到大約 300 億美元的政府津貼，大部分給予大規模工業化漁業。</li>
                <li>工業化捕魚船隊每年平均殺害及丟棄約 2700 萬噸的魚，相當於全年 1/4 的漁獲。在街市買 1 公斤蝦，背後可能潛藏超過 10 公斤的熱帶海洋生物的犠牲。</li>
                <img src="23.png" width="70%";height="auto" style="padding-top:5%;padding-bottom:5%;display:block;margin:auto;">
                <li>拖網捕魚利用漁網高速沿著海底拖行，會破壞脆弱的珊瑚及海床，令魚類失去棲息地。</li>
                <li>全球每年因非法漁業損失超過 200 億美元，當中大多牽涉歐美和亞洲的漁船。據聯合國估計，非洲國家索馬里（Somalia）和幾內亞（Guinea）每年就分別損失約 3 億及 1 億美元。</li>
                <li>在印度洋的克羅澤群島、愛德華王子島和馬里恩島，小鱗犬牙南極魚（通常為智利鱸魚）因有利可圖而被大量捕撈，結束在短短兩年滅絕。</li>
                <li>全球已知 24 種信天翁中，20 種在南冰洋生活的都正面臨存活危機，其中兩種更屬極度瀕危物種。科學家估計，僅在 1997 年，非法捕魚已在南冰洋殺害超過 100,000 隻信天翁和海燕。</li>
                </ol>
                您願意伸出援手，一起改變這個海洋困局嘛？
                <img src="24.png" width="70%";height="auto" style="padding-top:5%;padding-bottom:5%;display:block;margin:auto;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
